<a href="https://colab.research.google.com/github/Arun97-creator/ESG/blob/main/Extract_Tables_from_PDFs_and_Images_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
!pip install "camelot-py[cv]" -q

In [ ]:
!apt-get install ghostscript

Reading package lists... Done
Building dependency tree
Reading state information... Done
ghostscript is already the newest version (9.26~dfsg+0-0ubuntu0.18.04.14).
0 upgraded, 0 newly installed, 0 to remove and 39 not upgraded.

In [ ]:
import camelot as cam

In [21]:
#source: https://www.southalabama.edu/mathstat/personal_pages/mulekar/st550/Krishnakumar.pdf
table = cam.read_pdf("/content/Recommended List of Institutions_GATI.pdf", pages = '2', flavor = 'stream')

In [22]:
table[0].df

      0  ...               3
0   19.  ...         Haryana
1        ...
2   20.  ...   Uttar Pradesh
3        ...
4   21.  ...  Madhya Pradesh
5        ...
6   22.  ...       Karnataka
7   23.  ...           Delhi
8   24.  ...           Delhi
9   25.  ...   Uttar Pradesh
10  26.  ...           Assam
11  27.  ...         Gujarat
12  28.  ...         Jammu &
13       ...         Kashmir
14  29.  ...       Rajasthan
15       ...
16  30.  ...          Punjab
17       ...

[18 rows x 4 columns]

In [23]:
table[0].df.to_excel("camelot1_demo.xls")